body {
	background: #333;
	color: #ddd;
}

button {
	background: rgb(255, 99, 71);
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;

	&:hover {
		background: rgb(251, 69, 36);
	}
}

.App {
	position: relative;
}

.Calculator {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.expenses-container,
.incomes-container {
	width: 25rem;
	margin: 1rem;

	h3 {
		font-size: 1.2rem;
		border-bottom: 1px solid #ddd;
	}
}

.Item {
	display: flex;
	justify-content: space-around;
	font-size: 1.2rem;
	border-bottom: 1px solid #333;
	background: #333;
	margin: 1rem 0;
	min-width: 400px;
	// border: 1px solid #fff;

	&__container {
		width: 100%;
		padding-right: 1rem;
	}

	&__header {
		span {
			color: rgb(255, 99, 71);
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
		padding: 0.2rem 0;
		border-bottom: 1px solid #69676a;
	}

	button {
		padding: 0.5rem;
	}
}

.total {
	width: 100%;
	text-align: center;
	padding: 0.4rem;
	h2 {
		margin: 0 auto;
		font-size: 1.8rem;
		color: rgb(12, 173, 12);
	}
}

.form {
	border: 1px solid #ddd;
	max-width: 20rem;
	font-size: 1.2rem;
	padding: 1.5rem;
	border-radius: 1.5rem;
	height: 100%;
	margin: 1rem;
	position: relative;

	button[type='submit'] {
		width: 100%;
		margin-top: 1rem;
		padding: 0.5rem;
	}

	&__group {
		padding-top: 1rem;
	}

	input[type='text'],
	input[type='number'],
	select {
		background: #69676a;
		border-radius: 0.5rem;
		border: none;
		color: #ddd;
		width: 100%;
		font-size: 1.2rem;
		padding: 0.4rem;
	}

	&__select__categories {
		margin-top: 1rem;

		option[value='default'] {
			color: #000;
		}
	}

	&__radio {
		display: flex;
		align-items: center;

		label {
			width: 100px;
		}
	}
}

.error {
	color: rgb(251, 69, 36);
	font-size: 1rem;
}
